---
const { job } = Astro.props;
---

<div id="approval-list">
  <div id="header">
    <h2>Job Information</h2>
  </div>
  <div id="job-details">
    {job ? (
      <div>
        <h3>{job.jobName}</h3>
        <p>{job.description}</p>
        <p>{job.location}</p>
        <p>{job.salary}</p>
        <p>{job.company}</p>
        <p>{job.email}</p>
        <p>{job.phone}</p>
        <p>{job.website}</p>
        <p>{job.created_at}</p>
      </div>
    ) : (
      <p id="no-job-selected">Select a job to see details</p>
    )}
  </div>
</div>

<style>
  #approval-list {
    width: 55%;
    /* margin-top: 3vw; */
    margin-bottom: 3vw;
    margin-right: 4vw;
    /* margin-left: 0.5vw; */
    border-radius: 1rem;
    border: 3px solid black;
    overflow: hidden;
    height: 70vh;
  }

  #header {
    text-align: center;
    background-color: lightgray;
    border-bottom: 3px solid black;
    padding: 1vw;
    font-size: 1.2vw;
  }

  #job-details {
    overflow-y: auto;
    height: 100%;
  }

  #no-job-selected {
    text-align: center;
    font-size: 1.2vw;
    padding: 1vw;
  }

</style>
